extends layout
block append style
  link(rel='stylesheet', href='stylesheets/index.css')
block append scripts
  script(src='https://cdn.auth0.com/js/lock/11.4.0/lock.min.js')
  script(src='javascripts/index.js')
  
block content
  div#lock
